.font-abaya {
  font-family: 'Abhaya Libre', serif;
}

.font-dm {
  font-family: 'DM Sans', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.hero-overlay {
  background: linear-gradient(to bottom,
    rgba(0,0,0,0.20) 0%,
    rgba(0,0,0,0.35) 40%,
    rgba(0,0,0,0.40) 70%,
    rgba(0,0,0,0.25) 100%);
}