.font-abaya {
  font-family: "Abhaya Libre", serif;
}

.font-dm {
  font-family: "DM Sans", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.35) 40%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.25) 100%
  );
}
